/* Media query variables */

$MEDIA_QUERY_SIZE_SM: "480px";
$MEDIA_QUERY_SIZE_MD: "768px";
$MEDIA_QUERY_SIZE_LG: "1080px";
$MEDIA_QUERY_SIZE_XL: "1200px";
$MEDIA_QUERY_SIZE_XXL: "1540px";

/* Colors */
$base-color: blue
